

@font-face {
    font-family: 'myProFont' ;
    src: url('../../assets/fonts/exo-bold.woff2');
}
@font-face {
    font-family: 'myCatFont' ;
    src: url('../../assets/fonts/roboto-regular.woff2');
}

.card {
    font-family: 'myProFont';
    font-size: larger;
   
}

#desc{
    font-family: 'myCatFont';
}

#ingre{

    font-family: 'myCatFont';
    font-weight: normal;
}

